/* Chatbot hide by default */
.chatbot_wrapper { 
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}


/* Response rich content css */
.chatbot_topic-answer-richtext p:last-of-type,
.chatbot_sources-inline {
  display: inline;
}

/* Expand Chatbot CSS */
.expand-box .expand-icon {
  display: none;
}
.expand-box .collapse-icon {
  display: block;
}

.expand-box .chatbot_modal-tag {
  font-size: 0.875rem;
  padding: 0.4rem 1rem 0.4rem 0.5rem;
}

.expand-box .chatbot_modal-tag .icon-embed-xxsmall {
  width: 1.25rem;
  height: 1.25rem;
}
.expand-box .chatbot_modal-heading {
  font-size: 3rem;
  line-height: 4rem;
  max-width: 750px;
}

.expand-box .chatbot_modal-form-label {
  display: block;
}

.expand-box .chatbot_modal-clear-chat-text {
  display: block;
}

.expand-box .chatbot_modal-clear-chat {
  padding: 0.5rem 0.75rem 0.5rem 0.5rem;
  border: 1px solid #b7b7b7;
  color: #000000;
}
.expand-box .chatbot_modal-topic-item {
  border-width: 2px;
}
.expand-box .chatbot_modal-screen2-inner {
  grid-row-gap: 2.5rem;
}

.expand-box .chatbot_topic-ask-wrapper {
  margin-top: 2.5rem;
}

.expand-box .chatbot_modal-screen-header {
  padding-top: 2rem;
}

/* Chatbot Form CSS */
.chatbot_action-form-checkbox:has(.w--redirected-checked) {
  border-color: #eedfed;
  background-color: #f7eff6;
  color: #561050;
}
.chatbot_action-form-checkbox:has(.w--redirected-checked)
  .chatbot_action-checkbox-icon {
  display: block;
}
.chatbot_modal-topic-item.is-active .chatbot_modal-topic-close {
  display: block;
}

.chatbot_source-number {
  font-weight: 400;
}

/* Dot Loading state Animation */

.chatbot_loading-dots {
  display: flex;
  align-items: center;
  gap: 8px;
}

.chatbot_loading-dot {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #eaeaea;
  animation: dotPulse 1.2s infinite ease-in-out;
}

/* Delay each dot so they animate one after another */
.chatbot_loading-dot:nth-child(1) {
  animation-delay: 0s;
}
.chatbot_loading-dot:nth-child(2) {
  animation-delay: 0.2s;
}
.chatbot_loading-dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes dotPulse {
  0% {
    background-color: #b1b1b1;
  }
  33% {
    background-color: #d9d9d9;
  }
  66% {
    background-color: #eaeaea;
  }
  100% {
    background-color: #b1b1b1;
  }
}



@media screen and (max-width: 991px) { 
    .chatbot_modal-actions-wrapper {
        opacity: 1 !important;
        display: flex !important;
    }
}
